---
import Main from "@/layouts/Main.astro";
import AboutMe from "@/components/home/AboutMe";
import TechStack from "@/components/about/TechStack";
import BeyondKeyboard from "@/components/about/BeyondKeyboard";
---

<Main title="About — Anmol Noor">
  <div class="flex flex-col gap-12">
    <AboutMe />
    <TechStack />
    <BeyondKeyboard />
  </div>
</Main>
